<h1>Payment Form</h1>
<div class="box">
  <div class="item">
    <label>Payee Name</label>
    <input [value]="name" (input)="onChangeName($event)" />
  </div>
  <div class="item">
    <label>Payee Name</label>
    <p>{{ name | titlecase }}</p>
  </div>
</div>
<div class="box">
  <div class="item">
    <label>Payment Date</label>
    <input type="date" [value]="date" (input)="onChangeDate($event)" />
  </div>
  <div class="item">
    <label>Payment Date</label>
    <!-- The data pipe takes in a date and also takes in a format string
    as arguments and it converts the given data into the give format
    date and returns it -->
    <p>{{ date | date : "MMMM d, yyyy" }}</p>
  </div>
</div>
<div class="box">
  <div class="item">
    <label>Amount</label>
    <input type="number" [value]="amount" (input)="onChangeAmount($event)" />
  </div>
  <div class="item">
    <label>Amount</label>
    <p>{{ amount | currency : "EUR" }}</p>
  </div>
</div>
<div class="box">
  <div class="item">
    <label>Payee Height</label>
    <input type="number" [value]="height" (input)="onChangeHeight($event)" />
  </div>
  <div class="item">
    <label>Payee Height</label>
    <!-- We can pass in a number to the numbr pipe and format it -->
    <p>{{ height | number : "9.2-4" }}</p>
  </div>
</div>
<div class="box">
  <div class="item">
    <label>Miles</label>
    <input type="number" [value]="miles" (input)="onChangeMiles($event)" />
  </div>
  <div class="item">
    <label>Kilometers</label>
    <!-- The convert pipe takes in the miles as argument in its transform
    function whatever it returns is going to be shown on the screen -->
    <!-- Additional arguments can be sent by seperating each of them by5
    a colon-->
    <p>{{ miles | convert : "km" }}</p>
  </div>
</div>
<!-- The json pipe basically stringifies the object given as argument 
and displays it on the screen and the slice pipe is used to show only a 
certain part of the string -->
{{ car | json | slice : 0 : 20 }} punu khan }
